<component name="ArtifactManager">
  <artifact type="war" name="springCloud_demo02_continue:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springCloud_demo02_continue-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springCloud_demo02_continue:war exploded" />
    </root>
  </artifact>
</component>